<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <!-- Head content goes here -->
</head>
<body>
  <header>
    <!-- Navigation bar content goes here -->
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Contact', contact_path %>
    <%= link_to 'Sign in with Google', '/auth/google_oauth2' %>
  </header>

  <main>
    <%= yield %>
  </main>

  <!-- Other layout content goes here -->
</body>
</html>
